@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-dm-sans: "DM Sans",sans-serif;
}
body{
  font-family: var(--font-dm-sans);
  

}

/* Hide scrollbar but keep scrolling */
html,
body {
  overflow-y: auto;
  scrollbar-width: none;     
  -ms-overflow-style: none;    
}

/* Chrome, Safari, Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
